/* Global Rules  */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  --webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
}
  

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-heading {
  text-align: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.main-heading::before {
  content: "";
  width: 30%;
  height: 5px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff523b;
  position: absolute;
  border-radius: 20px;
}
/* Small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Global Rules  */
/* start header  */
.header {
  background: radial-gradient(#fff, #ffd6d6);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  position: relative;
}
header .logo {
  width: 75px;
  height: 22.5px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  padding-right: 20px;
}

nav ul li a {
  color: black;
}
.cart-icon {
  width: 30px;
  height: 30px;
}

.img-menu {
  width: 30px;
  display: none;
  margin-left: 20px;
}
@media (max-width: 767px) {
  header {
    padding: 10px 15px;
  }
  nav ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #444;
    width: 100%;
    color: white;
    text-align: right;
    display: none;
    transition: 0.3s;
  }
  nav ul li a {
    color: white;
  }
  nav ul i {
    display: none;
  }

  .img-menu {
    display: block;
  }
  nav:hover ul {
    display: block;
  }
}
/* end header  */
/* start landing */
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
.landing .landing-img {
  max-width: 40%;
}
.text-landing {
  width: 50%;
}
@media (max-width: 767px) {
  .landing .container {
    flex-direction: column;
  }
  .landing .landing-img {
    max-width: 100%;
  }
  .text-landing {
    width: 100%;
    text-align: center;
  }
}
.landing .text-landing h1 {
  font-size: 40px;
  line-height: 1.2;
}
.landing .text-landing p {
  padding: 30px 0;
  color: #444;
  line-height: 2;
}
.landing .text-landing a {
  background: none;
  border: none;
  color: white;
  background-color: black;
  border-radius: 40px;
  padding: 8px 30px;
  transition: background-color 0.5s;
}
.landing .text-landing a:hover {
  background-color: #563434;
}

/* end landing */
/* start feature  */
.featured {
  margin: 0 auto;
  padding: 50px 0;
}

.featured .card-featured {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 80px 100px;
}

.featured .card-featured .card img {
  max-width: 100%;
}

.category .card-category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 80px 100px;
}
.category .card-category .card img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .featured {
    padding: 10px 0;
  }
  .featured .card-featured,
  .category .card-category {
    margin: 40px auto;
  }
}

.card i {
  color: #ff523b;
}
/* END feature  */

.latest .card-latest {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 80px 100px;
}

@media (max-width: 767px) {
  .latest .card-latest {
    margin: 20px 0;
  }
}

.latest .card-latest .card img {
  max-width: 100%;
}

/* start ads  */
.ads {
  background: radial-gradient(#fff, #ffd6d6);
}
.ads .container {
  margin: 0 100px;
  padding: 100px 0;
  display: flex;
  align-items: center;
  gap: 50px;
}

.ads .container .ads-pic {
  height: 400px;

  margin-left: 50px;
}
.ads .container .text-ads {
  width: 40%;
}
@media (max-width: 767px) {
  .ads .container {
    padding: 20px 0;
    margin: 0 20px;
    flex-direction: column;
  }
  .ads .container .ads-pic {
    margin-left: 0;
    max-width: 100%;
  }
  .ads .container .text-ads {
    width: 100%;
    text-align: center;
  }
}

.ads .container .text-ads p:first-child {
  color: #777;
}
.ads .container .text-ads h3 {
  font-size: 50px;
}
.ads .container .text-ads p:last-of-type {
  padding-bottom: 25px;
  color: #777;
}

.ads .text-ads a {
  background: none;
  border: none;
  color: white;
  background-color: black;
  border-radius: 40px;
  padding: 8px 40px;
  transition: background-color 0.5s;
}
.ads .text-ads a:hover {
  background-color: #563434;
}
/* end ads  */
/* start testi  */

.testi .testi-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  margin: 80px 100px;
}

@media (max-width: 767px) {
  .testi .testi-content {
    margin: 20px auto;
  }
}
.testi .container .testi-card {
  text-align: center;
  box-shadow: 0 0 5px 2px #999;
}
.testi .container .testi-card > i {
  font-size: 80px;
  color: #ff523b;
}
.testi .container .testi-card p:first-of-type {
  color: #444;
  line-height: 1.5;
  padding: 0 15px;
}
.testi .container .testi-card .-testi-icon {
  padding: 25px 0 10px;
  color: #ff523b;
}
.testi .container .testi-card img {
  border-radius: 50%;
  height: 100px;
}
.testi .container .testi-card p:last-of-type {
  font-weight: bold;
}
/* start testi  */
/* start logo  */
.logo {
  text-align: center;
}
.logo img {
  filter: grayscale(100%);
  transition: filter 0.3s;
}
.logo img:hover {
  filter: grayscale(0%);
}
@media (max-width: 767px) {
  .logo img {
    width: 100px;
  }
}
/* end logo  */
/* start footer  */
footer {
  background-color: black;
  padding: 50px 0 20px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

footer .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  color: white;
}
footer .app p {
  margin-bottom: 10px;
  color: #777;
}
footer .app .img {
  display: flex;
}
footer .app img {
  width: 150px;
}

footer .red-store {
  text-align: center;
  width: 35%;
  color: white;
}
footer .red-store img {
  width: 150px;
}
footer .red-store p {
  color: #777;
}

footer .links,
footer .follow {
  width: 15%;
  text-align: center;
  color: white;
}
footer .links li a,
footer .follow li a {
  color: #777;
}

hr {
  margin-top: 20px;
}

footer p:last-of-type {
  color: #777;
  text-align: center;
  padding-top: 20px;
}

@media (max-width: 767px) {
  footer .container {
    flex-direction: column;
  }
  footer .red-store,
  footer .links,
  footer .follow,
  footer .app {
    width: 100%;
    text-align: center;
  }
  footer .app {
    align-items: center;
  }
}

/* start footer  */
